body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.box {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input, select, button {
  margin: 5px 0;
  padding: 6px;
}